<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zavosh.software.DrDandoon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Content.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/tooth"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tooth"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".Activities.MVP_HomeDoctor.HomeDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_ChooseRole.ChooseRole"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_Register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_Activation.ActivationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_ForgotPassword.ForgotPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_HomePatient.HomePatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_Splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MVP_ToothSelection.ToothSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_AnswerQuestions.AnswerQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_SelectImages.SelectImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_ChoosePatient.ChoosePatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_OrderDetail.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_ImageZoom.ZoomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MVP_MyPatientList.MyPatientListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.MVP_AboutUs.AboutUsActivity" />
        <activity android:name=".Activities.MVP_Support.SupportActivity" />
        <activity android:name=".Activities.MVP_OrderHistoryActivity.OrderHistoryActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bae60924f927e86c14dec39295bfe06bc697e732" />
    </application>

</manifest>